
 
<app-header  ></app-header>

  <router-outlet></router-outlet>
  <footer class="footer_wrap footer_custom scheme_side">
    <section>
        <div class="content_container">
            <div class="column_row">
                <div class="column_container column-1_1 sc_layouts_column_icons_position_left">
                    <div class="column-inner">
                        <div class="text_column">
                            <div class="sc_content sc_content_default sc_float_center sc_align_center sc_content_width_1_1">
                                <div class="sc_content_container">
                                    <div class="empty_space h-5em h_xs"><span class="empty_space_inner"></span></div>
                                    <div class="text_column">
                                        <div class="fsz-1_2em fw_600 lspace-0_5px tt_upper"><span class="dark">follow us on</span> 
                                            <span class="accent"><a class="accent-imp" href="#">@instagram</a></span>
                                        </div>
                                    </div>
                                    <div class="empty_space h-3_5em"><span class="empty_space_inner"></span></div>
                                </div>
                            </div>
                            <!-- /.sc_content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="inst_section">
        <div class="content_container">
            <div class="column_row"> 
                <div class="column-inner">
                    <div class="columns_wrap">
                        <div class="column_container column-1_4 sc_layouts_column_icons_position_left xs_1-4">
                            <div class="column-inner">
                                <div class="text_column">
                                    <figure>
                                        <a class="inst_hover" href="#"><img src="assets/assetsCatalogo/images/inst1.jpg" alt="" /></a>
                                    </figure>
                                </div>
                            </div>
                        </div><div class="column_container column-1_4 sc_layouts_column_icons_position_left xs_1-4">
                        <div class="column-inner">
                            <div class="text_column">
                                <figure>
                                    <a class="inst_hover" href="#"><img src="assets/assetsCatalogo/images/inst2.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        </div><div class="column_container column-1_4 sc_layouts_column_icons_position_left xs_1-4">
                        <div class="column-inner">
                            <div class="text_column">
                                <figure>
                                    <a class="inst_hover" href="#"><img src="assets/assetsCatalogo/images/inst3.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        </div><div class="column_container column-1_4 sc_layouts_column_icons_position_left xs_1-4">
                        <div class="column-inner">
                            <div class="text_column">
                                <figure>
                                    <a class="inst_hover" href="#"><img src="assets/assetsCatalogo/images/inst4.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>   
        <div class="column_row sc_layouts_row sc_layouts_row_type_normal">
            <div class="column_container column-1_1 sc_layouts_column_icons_position_left">
                <div class="column-inner">
                    <div class="sc_content sc_content_default sc_float_center sc_align_center sc_content_width_1_1">
                        <div class="sc_content_container">
                            <div class="empty_space h-5_3em"><span class="empty_space_inner"></span></div>
                            <section class="cta3-container">
                                <div class="general cta3 cta3-style-classic cta3-shape-square cta3-align-left cta3-color-classic cta3-icon-size-md cta3-actions-right brd-3px_red">
                                    <div class="cta3_content-container">
                                        <div class="cta3-content">
                                            <div class="cta3-content-header">
                                                <h2>Let’s Stay Connected!</h2>                                  
                                            </div>
                                            <p>Sign up today for our newsletter and receive <em>15% OFF</em> your first purchase, and also get our sneak peeks, tips, and exclusive offers.</p>
                                        </div>
                                        <div class="cta3-actions">
                                            <div class="btn3-container btn3-inline">
                                                <a class="general btn3 btn3-size-md btn3-shape-square btn3-style-classic btn3-color-grey" href="#" title="">sign up</a>
                                            </div>
                                        </div>      
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- /.sc_content -->
                    <div class="empty_space h-2em" ><span class="empty_space_inner"></span></div>
                    <div class="sc_content sc_content_default sc_float_center sc_align_center sc_content_width_1_1">
                        <div class="sc_content_container">
                            <div class="sc_layouts_item">
                                <nav class="sc_layouts_menu sc_layouts_menu_default menu_hover_fade" data-animation-in="fadeIn" data-animation-out="fadeOut">
                                    <ul id="menu_footer" class="sc_layouts_menu_nav menu_footer_nav">
                                        <li class="menu-item menu-item-home current-menu-item">
                                            <a href="index.html">
                                                <span>Home</span>
                                            </a>
                                        </li><li class="menu-item">
                                        <a href="shop-grid.html">
                                            <span>Sport</span>
                                        </a>
                                        </li><li class="menu-item">
                                        <a href="#l">
                                            <span>About Us</span>
                                        </a>
                                        </li><li class="menu-item">
                                        <a href="#">
                                            <span>Gallery</span>
                                        </a>
                                        </li><li class="menu-item">
                                        <a href="#">
                                            <span>Contacts</span>
                                        </a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- /.sc_layouts_menu -->
                            </div>
                        </div>
                    </div>
                    <!-- /.sc_content -->
                    <div class="empty_space h-2_2em" ><span class="empty_space_inner"></span></div>
                    <div class="sc_content sc_content_default sc_float_center sc_align_center sc_content_width_1_1">
                        <div class="sc_content_container">
                            <div class="text_column">
                                <div class="widget widget_text">            
                                    <div class="textwidget">
                                        <div class="fsz_13px fw_400">&copy;2022 Lenceria  Store. Todos los derechos reservados. <a href="https://www.buckapi.us" target="_black" >Buckapi.us</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.sc_content -->
                    <div class="empty_space h-3_2em" ><span class="empty_space_inner"></span></div>
                    <div class="empty_space  hide_on_mobile h-3em"><span class="empty_space_inner"></span></div>
                </div>
            </div>
        </div>
    </section> 
  </footer>
  

  <a href="#" class="trx_addons_scroll_to_top trx_addons_icon-up" title="Scroll to top"></a>
        